.root {
  span {
    display: inline-block;
    background: #f4461f;
    border-radius: 2px;
    color: white;
    padding: 0 0.3em;
    font-weight: bold;
    margin-right: 0.3em;
    line-height: 1.8em;
  }
}
